<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vadexample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>157B45C81D8CDDB5008DC706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>157B45E11D8CDDB5008DC706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>157B45EC1D8CDDB6008DC706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
